global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    cluster: "phpqa"
    environment: "dev"

rule_files:
  - "alerts/rules.yml"

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - alertmanager:9093

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "traefik"
    static_configs:
      - targets: ["traefik:8082"]
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        replacement: "traefik"

  - job_name: "node-exporter"
    static_configs:
      - targets: ["node-exporter:9100"]

  - job_name: "cadvisor"
    static_configs:
      - targets: ["cadvisor:8080"]

  - job_name: "alertmanager"
    static_configs:
      - targets: ["alertmanager:9093"]
