global:
  resolve_timeout: 5m

route:
  receiver: blackhole
  group_by: ["alertname", "cluster", "service"]
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 12h

receivers:
  - name: blackhole
