includes:
  # Vendor
  - vendor/phpstan/phpstan-beberlei-assert/extension.neon
  # Project
  - .phpstan/baseline.neon
  - .phpstan/booleanInConditions.neon

parameters:
  level: max
  paths:
    - app
    - packages
  fileExtensions:
    - php
  reportUnmatchedIgnoredErrors: false
